.panel.panel-green {
    border-color: #488c6c;
}
.panel.panel-green > .panel-heading {
    color: #FFFFFF;
    background: #488c6c;
    border-color: #488c6c !important;
}
.panel.panel-green > .panel-footer {
    color: #FFFFFF;
    background: #488c6c;
    border-color: #488c6c !important;
}
.panel.panel-grey {
    border-color: #4b5d67;
}
.panel.panel-grey > .panel-heading {
    color: #FFFFFF;
    background: #4b5d67;
    border-color: #4b5d67 !important;
}
.panel.panel-grey > .panel-footer {
    color: #FFFFFF;
    background: #4b5d67;
    border-color: #4b5d67 !important;
}
.panel.panel-dark {
    border-color: #594857;
}
.panel.panel-dark > .panel-heading {
    color: #FFFFFF;
    background: #594857;
    border-color: #594857 !important;
}
.panel.panel-dark > .panel-footer {
    color: #FFFFFF;
    background: #594857;
    border-color: #594857 !important;
}
.panel.panel-red {
    border-color: #bf4346;
}
.panel.panel-red > .panel-heading {
    color: #FFFFFF;
    background: #bf4346;
    border-color: #bf4346 !important;
}
.panel.panel-red > .panel-footer {
    color: #FFFFFF;
    background: #bf4346;
    border-color: #bf4346 !important;
}


/***************************************************
 * Data Tables
 *************************************************/
.dataTables_filter {
    display: none;
}

#mysearch{
    color: #000;
}

#icon_search{
    color: #fff;
}